body {
	background: linear-gradient(180deg, #eb1106, #eef1f1);
	background-size: 600% 600%;

	animation: AnimationName 1s ease infinite;
	font-size: 21px;
}

@keyframes AnimationName {
	0% {
		background-position: 0% 56%
	}

	50% {
		background-position: 100% 45%
	}

	100% {
		background-position: 0% 56%
	}
}

label {
	display: inline-block;
	width: 140px;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	
}

.main {
	margin: auto;
	width: 50%;
	justify-content: center;
	background-color: antiquewhite;
	padding: 40px;
}



/* input {
	margin: 5px;
	flex-direction: column;
	float: right;
} */

.pick {
	display: auto;
	font-size: small;
	float: inline-start;
}

form {
	margin: auto;
	width: 80%;
	border: 3px solid white;
	padding: 10px 10px;
}

select {
	width: 300px;
	font-size: 15px;
}


input :not(.pi) {
	height: 20px;
	width: 300px;
	align-content: flex-end;

}

.registerbtn {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	background-color: #16537e;
	color: white;
	border : 2px solid white;
	margin-top: 1%;
}

.registerbtn:hover {
	padding: 10px;
	border-radius: 5px;
	border : 2px solid #16537e;
	color: #16537e;
	background-color: white;
	margin-top: 1%;
}
.country {
	width: 30px;
	margin-right: 1%;
}

.phone {
	width : 260px
}

.resetbtn {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	background-color: #e40404;
	color: white;
	border : 2px solid white;
	margin-top: 1%;
}

.resetbtn:hover{
	padding: 10px;
	border-radius: 5px;
	border : 2px solid #e40404;
	color: #e40404;
	background-color: white;
	margin-top: 1%;
}

.col {
	float : right;
	font-size: 15px;
	clear: both;
	width: 300px;
}

.row { 
	margin-bottom: 2%;
	padding: 1%;
}

.row2 {
	float: inline-end;
}